@using MySameCity.Repositories.Entities;
@model IEnumerable<FullTimeJobType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    @foreach (FullTimeJobType type in Model)
    {
        <li><a href="@Url.Action("Type", new {Id = type.FullTimeJobTypeId})">@type.FullTimeJobTypeName</a></li>
    }
</ul>
