@model TH.WebUI.ViewModels.MessageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
</head>
<body>
    <div>
        <h1>@Model.Title</h1>
        <p>@Model.Message</p>
    </div>
</body>
</html>
