@model IEnumerable<TH.WebUI.ViewModels.PostIndexViewModel>

@{
    ViewBag.Title = "行业论坛";
}

<h2>行业论坛</h2>
<p>
    @Html.ActionLink("发帖", "CreatePost")
</p>
<ul>
    @foreach (var post in Model)
    {
        <li>
            <a href="@Url.Action("Post", new { id = post.Id })">@post.Title</a>
        </li>
    }
</ul>
