<html>
    <head>
        <title>@ViewData["Title"]</title>
        <base target="_blank">
        <style type="text/css">
            ::-webkit-scrollbar {
                display: none;
            }
        </style>
    </head>
    <body>
		@RenderBody()
	</body>
</html>