@using Mvc.Mailer

<p>亲爱的用户 @ViewData["userName"]：您好！</p>

<p>
    您收到这封这封电子邮件是因为您 (也可能是某人冒充您的名义) 申请了一个新的密码。假如这不是您本人所申请, 请不用理会这封电子邮件, 但是如果您持续收到这类的信件骚扰, 请您尽快联络管理员。
</p>
<p>要使用新的密码, 请使用以下链接启用密码。</p>
<p><a href="@Url.Abs(Url.Action("Index", "Home"))">Visit Us</a></p>
    https://passport.csdn.net/account/fpwd?action=resetpassword&username=wmzy1067111110&active=62c41f4d06854f731a2300e90f6be0e8&service=http://www.csdn.net/

    (如果无法点击该URL链接地址，请将它复制并粘帖到浏览器的地址输入框，然后单击回车即可。该链接使用后将立即失效。)

    注意:请您在收到邮件1个小时内(2014-06-03 19:38:21前)使用，否则该链接将会失效。

关注好友动态，请访问CSDN个人空间：http://my.csdn.net/
技术精品文章，请访问CSDN博客：http://blog.csdn.net/
全球最大的中文技术讨论区，请访问CSDN论坛：http://bbs.csdn.net/
分享您认为最好的内容，请访问CSDN下载频道：http://download.csdn.net/
业界新闻、人才、外包 等等更多CSDN服务，请访问 http://www.csdn.net/

我们将一如既往、热忱的为您服务！

WWW.CSDN.NET - 中国最大的IT技术社区，为IT专业技术人员提供最全面的信息传播和服务平台
用户服务支持：webmaster@csdn.net